@inherits DisplayProductsBase

@foreach (var item in Products)
{
    <div class="col-md-3 md-2">
        <a href="/ProductDetails/@item.Id" style="text-decoration: none;">
            <MudCard Outlined="true">
                <MudImage ObjectFit="ObjectFit.ScaleDown" Fluid="true" Height="200" Width="400" Src="@item.ImageUrl" Style="padding: 5px;" />
                <MudCardContent >
                    <MudText Typo="Typo.h5" Style="margin-bottom: 10px;">@item.Name</MudText>
                    <MudText Typo="Typo.body2"><b>@item.Price.ToString("C")</b></MudText>
                </MudCardContent>
            </MudCard>
        </a>
    </div>
    
}


